/* 
*{
    background-color: blue;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


header{
    height: 70px;
    background-color:#4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-repeat: repeat-x;
    position: relative;
}

.logo__header{
    width: 200px;
    position: absolute;
    left: 10px;
    bottom: 5px;
    

}

.back__image{
    height: 100px;
}

h1{
    font-size: 50px;
}

#autore{
    color: grey;
}

.image__section{
    margin-top: 10px;
    margin-bottom: 10px;
}

.list{
    margin-top: 20px;
}

table{
    margin-top: 20px;
    margin-bottom: 20px;
}

thead {
    color: white;
    background-color:#1FA9E5 ;
}
tbody {
    background-color:#B1E5F2 ;
}

main{
    margin: 8px;
}

footer{
    margin: 8px;
    
}

footer p {
    color: grey;
    font-size: larger;
}

