/* 
*{
    background-color: blue;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


header{
    height: 100px;
    background-color:#4EA0FF;
    
}

.logo__header{
    width: 100px;
}

.back__image{
    height: 100px;
}

.list {
    margin: 8px;
}

table{
    margin-top: 10px;
    margin-bottom: 10px;
}